 .menu-container{
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            z-index: 1000; /* Aby przycisk był nad innymi elementami */
        }
        .menu-bar {
            width: 30px;
            height: 3px;
            background-color: #f2f5f3; /* Kolor pasków */
            margin: 5px 0;
            transition: 0.3s;
        }

        .menu-container:hover .menu-bar {
            background-color: #ccc; /* Kolor pasków przy najechaniu */
        }

        /* Stylizacja menu */
        .menu {
            display: none;
            position: absolute;
            top: 35px;
            right: 0;
            background-color: #f2f5f3;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            z-index: 1000;
        }

        .menu a {
            display: block;
            color: #000;
            text-decoration: none;
            padding: 10px;
        }

        .menu a:hover {
            background-color: #e0e0e0;
        }

        /* Stylizacja po kliknięciu w przycisk menu */
        .menu-container.active .menu {
            display: block;
        }
        body {  
            background-color: #37453b; /* Tło strony */  
            color: #f2f5f3; /* Kolor tekstu */  
            font-family: 'Arial', sans-serif; /* Profesjonalna czcionka */  
        }  